.deals{
    
    @media(min-width: $var-width){
        margin-bottom: 100px;
    }

    &__right{
        margin-top: 50px;

        @media(min-width: $var-width){
           margin-top: 0;
        }
    }

    &__image{
        width: 100%;

        @media(min-width: $var-width){
            width: 75%;
            margin-bottom: 50px;
        }
    }

    &__text__conatiner{

        @media(min-width: $var-width){
            width: 80%;
        }
    }

    &__small__heading,   &__icon__heading{
        font-size: 22px;
        font-weight: 800;
    }


    &__icon__image{
        width: 90px;
        height: 90px;
        margin-right: 20px;
    } 
    
    &__icon__paragraph{
  
        @media(min-width: $var-width){
            width: 80%;
        }
    }

}