.masthead{

    margin-top: -100px;
    margin-bottom: 50px;

    @media(min-width: $var-width){
        margin-bottom: 0;
    }

    &__bg{
        background-repeat: no-repeat;
        background-position:  top right;
        background-size: auto;
        z-index:2;
    
        @media(min-width: $var-width){
            height: 880px;
        }
    }

    &__container{
        padding-top: 190px;

        @media(min-width: $var-width){
        padding-top: 310px;
        }
    }

    &__paragraph{

        margin-top: 20px;

        @media(min-width: $var-width){
        width: 80%;
        }
    }

    &__image{
        width: 380px;
        margin-top: 50px;

        @media(min-width: $var-width){
            width: 720px;
            margin-top: 0;
        }
    }

}



