.strapline{
    height: 180px;
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;

    &__text{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        color: $white;

        h2{
            font-weight: 800;
            color: $white;
            font-size: 20px;
            margin-top: 30px;
            text-align: center;

            @media(min-width: $var-width){
                margin-top: 30px;
                font-size: 32px;
            }
        }
    }
}