.testimonials__block{
    margin-top: 50px;

    &__top{
       display: flex;
       justify-content: center; 
       flex-direction: column;
       align-items: center;

       p{
        width: 100%;
        text-align: center;
        margin-top: 50px;

            @media(min-width: $var-width){
                width: 50%;
                margin-top: 20px;
            }
       }
    }
}
