.footer{

    &__logo{
        margin-bottom: 10px;
    }

    &__text{
        color: $grey;
        font-size: $font-size-sm;
    }

    &__nav li a{
        color: $black;
        margin-bottom: 3px;
        font-size: 14px;
    }

    &__nav{

        @include media-breakpoint-up(sm) {
            margin-top: 30px;
        }
    }

    &__opening__hours{

        @include media-breakpoint-up(sm) {
            margin-top: 30px;
        }
    }

    &__opening__hours li{
        font-weight: $font-weight-bold;
        font-size: $font-size-sm;
    }

    &__subscription__text{
        font-size: $font-size-sm;
        color: $grey;
    }

    ul{
        padding: 0;
    } 
    
    li {
        list-style: none;
        color: $grey;
        font-weight: $font-weight-normal;
        font-size: $font-size-sm;
    }

    a{
        text-decoration: none;
    }

    &__heading{
        font-size: 22px;
        font-weight: 800;
    }

    &__phone, &__email{
        font-size: 25px;
    }

    &__contact__email{
        max-width: 250px;
        color: $orange;

        p{
            color: $black; 
            margin-left: 10px;
            font-size: $font-size-base
        }
    }

    &__contact__phone{
        max-width: 250px;
        color: $orange;
        margin-right: 0;

        p{
            color: $black;
             margin-left: 10px;
            font-size: $font-size-base
        }
    }

    &__link{
        a{
            color: $grey !important;
        }
    }
}   

