.masthead{

    margin-top: -100px;
    //margin-bottom: 50px;

    @include media-breakpoint-up(md) {
        margin-bottom: 0;
    }

    &__bg{
        background-repeat: no-repeat;
        background-position:  top right;
        background-size: auto;
        z-index:2;

        @include media-breakpoint-up(md) {
            height: 880px;
        }
    }

    &__container{
        padding-top: 190px;

        @include media-breakpoint-up(md) {
        padding-top: 310px;
        }
    }

    &__paragraph{

        margin-top: 20px;

        @include media-breakpoint-up(md) {
        width: 80%;
        }
    }

    &__image{
        width: 380px;
        margin-top: 50px;

        @include media-breakpoint-up(lg) {
            width: 720px;
            margin-top: 0;
        }
    }
}



