//colors

$orange: #FF4D30;
$white: #fff;
$black: #000;
$grey: #706F7B;
$offBlack: #2D2D2D;
$offgrey: #ededed;

// Media queries

$xl-width: 1100px;
$lg-width: 900px;
$md-width: 668px;
$var-width: 754px;
$sm-width: 450px;


