.contact__form{
    margin-bottom: 40px;
    max-width: 100%;

    @media(min-width: $sm-width){
        width: 78%;
    }

    &__first-name, &__email, &__phone, &__message{
        font-size: 14px;
        font-weight: 900;
        margin-bottom: 5px;
        color: $black;
        }
    }

#your-message{
    height: 100px;
}