.footer{

    &__logo{
        margin-bottom: 10px;
    }

    &__text{
        color: $grey;
        font-weight: 500;
        font-size: 14px;
    }

    &__nav li a{
        color: $black;
        margin-bottom: 3px;
        font-size: 14px;
    }

    &__nav{

        @media(min-width: $sm-width){
            margin-top: 30px;
        }
    }

    &__opening__hours{

        @media(min-width: $sm-width){
            margin-top: 30px;
        }
    }

    &__opening__hours li{
        font-weight: 500;
        font-size: 14px;
    }

    &__subscription__text{
        font-size: 14px;
        color: $black;
    }

    ul{
        padding: 0;
    } 
    
    li {
        list-style: none;
        color: $black;
    }

    a{
        text-decoration: none;
    }

    &__heading{
        font-size: 22px;
        font-weight: 800;
    }

    &__phone, &__email{
        font-size: 25px;
    }

    &__contact__email{
        max-width: 250px;
        color: $orange;
    

        p{
            color: $black; 
            margin-left: 10px;
            font-size: 14px;
        }
    }

    &__contact__phone{
        max-width: 250px;
        color: $orange;
        margin-right: 0;

        p{
            color: $black;
             margin-left: 10px;
             font-size: 14px;
        }
    }
}   

