.teammember__card{

    width: 100%;
    background-color: $white;
    box-shadow: 0px 20px 25px -2px rgba(0,0,0,0.2);
    
    @media(min-width: $sm-width){
        width: 88%;
    }

    img{
        width: 100%;
        background-color: $offgrey;

        @media(min-width: $sm-width){
            width: 100%;
        }
    }

    &__name{
        font-size: 20px;
        font-weight: 700;
    }

    &__role{
        font-size: 14px;
        color: $grey;
    }   
}