@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Josefin+Sans&family=Noto+Sans&family=Poppins:wght@500;600;700&family=Roboto:wght@500&family=Smythe&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#wrapper {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
}

html, body {
  font-family: "Poppins";
}

h1 {
  font-size: 55px;
  font-weight: bolder;
  color: #000;
  letter-spacing: 0.1;
  line-height: 65px;
}

h2 {
  font-size: 42px;
  font-weight: bolder;
  color: #000;
  letter-spacing: 0.1;
  line-height: 52px;
}

h5 {
  font-weight: 900;
  letter-spacing: 0.1;
  color: #000;
  line-height: 30px;
}

p {
  font-size: 16px;
  color: #706F7B;
}

.orange__highlight {
  color: #FF4D30;
}

a {
  text-decoration: none;
  color: #000;
  transition: ease-in 0.4s;
}

a:hover, a:focus {
  color: #FF4D30;
}

.star {
  color: #FF4D30;
}

.wpcf7-form-control {
  padding: 10px;
  background-color: #ededed;
}

.query {
  margin-bottom: 100px;
}

.breadcrumb_last {
  color: #FF4D30;
}

.fa-square-envelope, .fa-square-phone {
  color: #FF4D30;
  font-size: 25px;
}

.footer__logo {
  margin-bottom: 10px;
}
.footer__text {
  color: #706F7B;
  font-weight: 500;
  font-size: 14px;
}
.footer__nav li a {
  color: #000;
  margin-bottom: 3px;
  font-size: 14px;
}
@media (min-width: 450px) {
  .footer__nav {
    margin-top: 30px;
  }
}
@media (min-width: 450px) {
  .footer__opening__hours {
    margin-top: 30px;
  }
}
.footer__opening__hours li {
  font-weight: 500;
  font-size: 14px;
}
.footer__subscription__text {
  font-size: 14px;
  color: #000;
}
.footer ul {
  padding: 0;
}
.footer li {
  list-style: none;
  color: #000;
}
.footer a {
  text-decoration: none;
}
.footer__heading {
  font-size: 22px;
  font-weight: 800;
}
.footer__phone, .footer__email {
  font-size: 25px;
}
.footer__contact__email {
  max-width: 250px;
  color: #FF4D30;
}
.footer__contact__email p {
  color: #000;
  margin-left: 10px;
  font-size: 14px;
}
.footer__contact__phone {
  max-width: 250px;
  color: #FF4D30;
  margin-right: 0;
}
.footer__contact__phone p {
  color: #000;
  margin-left: 10px;
  font-size: 14px;
}

.navigation__contact__btn {
  background-color: #FF4D30;
  color: #fff;
  height: 40px;
  padding: 0 30px;
  border-color: transparent;
  -webkit-box-shadow: 0px 6px 17px 4px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 6px 17px 4px rgba(0, 0, 0, 0.27);
  border-radius: 3px;
  transition: ease-in 0.4s;
}
.navigation__contact__btn:hover, .navigation__contact__btn:focus {
  background-color: #000;
  color: #fff;
}

.footer__contact__btn {
  background-color: #FF4D30;
  width: 100%;
  padding: 12px 65px;
  color: #fff;
  border-color: transparent;
  -webkit-box-shadow: 0px 6px 17px 4px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 6px 17px 4px rgba(0, 0, 0, 0.27);
  border-radius: 3px;
  transition: ease-in 0.4s;
}
.footer__contact__btn:hover, .footer__contact__btn:focus {
  background-color: #000;
}

.masthead__orange__btn, .deals__btn {
  background-color: #FF4D30;
  padding: 13px 30px;
  color: #fff;
  border-color: transparent;
  -webkit-box-shadow: 0px 6px 17px 4px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 6px 17px 4px rgba(0, 0, 0, 0.27);
  font-size: 14px;
  border-radius: 3px;
  font-weight: 600;
  transition: ease-in 0.4s;
}
.masthead__orange__btn:hover, .masthead__orange__btn:focus, .deals__btn:hover, .deals__btn:focus {
  background-color: #000;
  color: #fff;
}

.masthead__black__btn {
  background-color: #000;
  padding: 13px 30px;
  color: #fff;
  border-color: transparent;
  font-size: 14px;
  border-radius: 3px;
  font-weight: 600;
  transition: ease-in 0.4s;
}
.masthead__black__btn:hover, .masthead__black__btn:focus {
  background-color: #FF4D30;
  color: #fff;
}

.masthead__btn__icon__tick {
  width: 10px;
  margin-left: 8px;
}

.masthead__btn__icon__chevron {
  width: 8px;
  margin-left: 5px;
}

.contact__btn {
  background-color: #FF4D30;
  width: 100%;
  padding: 12px 65px;
  color: #fff;
  border-color: transparent;
  -webkit-box-shadow: 0px 6px 17px 4px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 6px 17px 4px rgba(0, 0, 0, 0.27);
  border-radius: 3px;
  transition: ease-in 0.4s;
}
.contact__btn:hover, .contact__btn:focus {
  background-color: #000;
}

.vehicle__booking__form__btn {
  background-color: #FF4D30;
  width: 100%;
  padding: 8px 65px;
  color: #fff;
  border-color: transparent;
  -webkit-box-shadow: 0px 6px 17px 4px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 6px 17px 4px rgba(0, 0, 0, 0.27);
  border-radius: 3px;
  margin-top: 39px;
  transition: ease-in 0.4s;
}
.vehicle__booking__form__btn:hover, .vehicle__booking__form__btn:focus {
  background-color: #000;
}

.vehicle__card__info__btn {
  background-color: #FF4D30;
  width: 100%;
  padding: 12px 122px;
  color: #fff;
  border-color: transparent;
  -webkit-box-shadow: 0px 6px 17px 4px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 6px 17px 4px rgba(0, 0, 0, 0.27);
  border-radius: 3px;
}
.vehicle__card__info__btn:hover, .vehicle__card__info__btn:focus {
  transition: ease-in 0.4s;
  background-color: #000;
  color: #fff;
}
@media (min-width: 450px) {
  .vehicle__card__info__btn {
    padding: 12px 106px;
  }
}

@media (min-width: 450px) {
  .navigation {
    margin-top: 60px;
  }
}
.navigation div ul {
  padding-left: 0;
  margin-top: -150px;
  position: absolute;
  right: 0px;
  height: 120vh;
  top: 8vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  padding-bottom: 400px;
  background-color: #FF4D30;
}
@media (min-width: 754px) {
  .navigation div ul {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    top: 0;
    height: 20px;
    position: relative;
    flex-direction: row;
    width: 70%;
    transform: translateX(50%);
    padding-bottom: 0;
    justify-content: space-around;
    background-color: transparent;
    margin-left: -20%;
  }
}
.navigation li {
  list-style: none;
}
.navigation li a {
  text-decoration: none;
  margin: 5px;
  color: #fff;
  font-size: 32px;
}
@media (min-width: 754px) {
  .navigation li a {
    color: #000;
    font-weight: 600;
    font-size: 16px;
  }
}
.navigation__contact__btn {
  display: none;
}
@media (min-width: 754px) {
  .navigation__contact__btn {
    display: block;
  }
}
.navigation__burger {
  display: block;
  z-index: 200;
  margin-top: -50px;
  position: absolute;
}
@media (min-width: 450px) {
  .navigation__burger {
    margin-top: -100px;
  }
}
@media (min-width: 754px) {
  .navigation__burger {
    display: none;
  }
}
.navigation__burger div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  transition: all 0.3s ease;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.nav-active {
  transform: translateX(0%) !important;
  z-index: 100;
}

.toggle .line__one {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line__two {
  opacity: 0;
}
.toggle .line__three {
  transform: rotate(45deg) translate(-5px, -6px);
}

.testimonial__card {
  padding: 35px 35px 10px 35px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 20px 25px -2px rgba(0, 0, 0, 0.2);
}
.testimonial__card__name {
  font-weight: 700;
  margin-left: 10px;
  margin-top: 10px;
  width: 120%;
  color: #000;
  font-size: 18px;
}
.testimonial__card__location {
  font-size: 10px;
  margin-left: 10px;
  margin-top: -10px;
  font-size: 16px;
  width: 120%;
}
.testimonial__card__comment {
  font-weight: 600;
  color: #000;
}
@media (min-width: 754px) {
  .testimonial__card__comment {
    font-size: 20px;
  }
}
@media (min-width: 754px) {
  .testimonial__card__comment {
    padding-right: 50px;
  }
}
.testimonial__card__lower img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: -10px;
  object-fit: cover;
}
.testimonial__card__speech {
  margin-top: -90px;
  height: 50px;
}

.teammember__card {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 20px 25px -2px rgba(0, 0, 0, 0.2);
}
@media (min-width: 450px) {
  .teammember__card {
    width: 88%;
  }
}
.teammember__card img {
  width: 100%;
  background-color: #ededed;
}
@media (min-width: 450px) {
  .teammember__card img {
    width: 100%;
  }
}
.teammember__card__name {
  font-size: 20px;
  font-weight: 700;
}
.teammember__card__role {
  font-size: 14px;
  color: #706F7B;
}

.contact__form {
  margin-bottom: 40px;
  max-width: 100%;
}
@media (min-width: 450px) {
  .contact__form {
    width: 78%;
  }
}
.contact__form__first-name, .contact__form__email, .contact__form__phone, .contact__form__message {
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 5px;
  color: #000;
}

#your-message {
  height: 100px;
}

.vehicle__card {
  width: 100%;
}
@media (min-width: 754px) {
  .vehicle__card {
    width: 80%;
  }
}
.vehicle__card__image {
  object-fit: fill;
}
@media (min-width: 754px) {
  .vehicle__card__image {
    height: 210px;
  }
}
.vehicle__card__info {
  display: flex;
  justify-content: space-between;
}
.vehicle__card__heading {
  font-size: 25px;
  font-weight: 800;
}
.vehicle__card__car {
  height: 20px;
}
.vehicle__card__content {
  padding: 20px;
}
.vehicle__card p {
  color: #706F7B;
}

.vehicle__booking__form {
  box-shadow: 0px 20px 25px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 120px;
}
.vehicle__booking__form__bg {
  background-repeat: no-repeat;
  background-position: center;
}
.vehicle__booking__form__main__heading {
  font-size: 25px;
  font-weight: 800;
}
.vehicle__booking__form__field__heading {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #000;
}

.faq__bar__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq__bar {
  margin-bottom: 20px;
}
@media (min-width: 450px) {
  .faq__bar {
    width: 50%;
    margin-bottom: 10px;
  }
}
.faq__bar__question {
  background-color: #fff;
  padding: 15px 10px 2px 20px;
  font-weight: 600;
  -webkit-box-shadow: 0px 6px 17px 4px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 6px 17px 4px rgba(0, 0, 0, 0.27);
  border: solid 2.5px #FF4D30;
}
.faq__bar__question:hover, .faq__bar__questionfocus {
  cursor: pointer;
}
.faq__bar__question p {
  color: #000;
}
@media (min-width: 450px) {
  .faq__bar__question p {
    font-size: 18px;
  }
}
.faq__bar__answer {
  padding: 20px 20px 0 20px;
  background-color: #fff;
  display: none !important;
  color: #706F7B;
  font-size: 16px;
  padding-bottom: 10px;
}
.faq__bar__icon__chevron {
  height: 8px;
  margin: 15px 42px 0;
}

.show {
  display: block !important;
}

.color {
  background-color: #FF4D30;
}
.color P {
  color: #fff;
}

.masthead {
  margin-top: -100px;
  margin-bottom: 50px;
}
@media (min-width: 754px) {
  .masthead {
    margin-bottom: 0;
  }
}
.masthead__bg {
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto;
  z-index: 2;
}
@media (min-width: 754px) {
  .masthead__bg {
    height: 880px;
  }
}
.masthead__container {
  padding-top: 190px;
}
@media (min-width: 754px) {
  .masthead__container {
    padding-top: 310px;
  }
}
.masthead__paragraph {
  margin-top: 20px;
}
@media (min-width: 754px) {
  .masthead__paragraph {
    width: 80%;
  }
}
.masthead__image {
  width: 380px;
  margin-top: 50px;
}
@media (min-width: 754px) {
  .masthead__image {
    width: 720px;
    margin-top: 0;
  }
}

.mobile__download__banner {
  background-color: #ededed;
}
@media (min-width: 754px) {
  .mobile__download__banner__container {
    width: 70%;
    margin-top: 40px;
  }
}
.mobile__download__banner__btn {
  width: 160px;
  height: 60px;
}
.mobile__download__banner__btn:hover, .mobile__download__banner__btn:focus {
  cursor: pointer;
}
.mobile__download__banner__image {
  width: 360px;
}
@media (min-width: 754px) {
  .mobile__download__banner__image {
    width: 640px;
    height: 400px;
  }
}
.mobile__download__banner h2 {
  font-size: 35px;
}
.mobile__download__banner p {
  color: #706F7B;
  font-size: 14px;
}

.trip__plan {
  margin-bottom: 100px;
}
.trip__plan__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.large__strapline {
  background-color: #2D2D2D;
}
.large__strapline__container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.large__strapline__container h2 {
  font-weight: 800;
  font-size: 42px;
  color: #fff;
}
.large__strapline__container p {
  color: #fff;
}

@media (min-width: 754px) {
  .deals {
    margin-bottom: 100px;
  }
}
.deals__right {
  margin-top: 50px;
}
@media (min-width: 754px) {
  .deals__right {
    margin-top: 0;
  }
}
.deals__image {
  width: 100%;
}
@media (min-width: 754px) {
  .deals__image {
    width: 75%;
    margin-bottom: 50px;
  }
}
@media (min-width: 754px) {
  .deals__text__conatiner {
    width: 80%;
  }
}
.deals__small__heading, .deals__icon__heading {
  font-size: 22px;
  font-weight: 800;
}
.deals__icon__image {
  width: 90px;
  height: 90px;
  margin-right: 20px;
}
@media (min-width: 754px) {
  .deals__icon__paragraph {
    width: 80%;
  }
}

.testimonials__block {
  margin-top: 50px;
}
.testimonials__block__top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.testimonials__block__top p {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
@media (min-width: 754px) {
  .testimonials__block__top p {
    width: 50%;
    margin-top: 20px;
  }
}

.banner {
  margin-top: -100px;
}
.banner__bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 340px;
}
.banner h2 {
  padding-top: 180px;
  font-weight: 800;
  font-size: 30px;
  line-height: 10px;
}

.about__block {
  margin-bottom: 70px;
}
@media (min-width: 754px) {
  .about__block {
    margin-bottom: 10px;
  }
}
.about__block__image {
  width: 100%;
  object-fit: fill;
}
@media (min-width: 754px) {
  .about__block__image {
    width: 90%;
    object-fit: contain;
    height: 85%;
  }
}
.about__block__right__container {
  width: 100%;
}
@media (min-width: 754px) {
  .about__block__right__container {
    width: 87%;
  }
}
.about__block__service__section {
  width: 100%;
}
@media (min-width: 754px) {
  .about__block__service__section {
    width: 80%;
    margin-top: 40px;
  }
}
.about__block__icon {
  width: 48px;
  height: 36px;
  margin-bottom: 15px;
}
.about__block__service__number {
  font-size: 35px;
  font-weight: 800;
}
.about__block__service {
  color: #706F7B;
  font-size: 14px;
}
.about__block__lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.strapline {
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.strapline__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.strapline__text h2 {
  font-weight: 800;
  color: #fff;
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
}
@media (min-width: 754px) {
  .strapline__text h2 {
    margin-top: 30px;
    font-size: 32px;
  }
}

.contact__block {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: auto;
  display: grid;
}
@media (min-width: 754px) {
  .contact__block {
    padding-bottom: 80px;
  }
}
.contact__block__info__one {
  width: 60%;
}
@media (min-width: 754px) {
  .contact__block__info__one {
    width: 36%;
  }
}
.contact__block__info__one p {
  color: #000;
  font-weight: 700;
}
.contact__block__info__two {
  width: 43%;
}
@media (min-width: 754px) {
  .contact__block__info__two {
    width: 25.5%;
  }
}
.contact__block__info__two p {
  color: #000;
  font-weight: 700;
}
.contact__block__location {
  margin-top: 10px;
  font-weight: 700;
  color: #000;
}
@media (min-width: 754px) {
  .contact__block__container {
    width: 90%;
  }
}

.faq__block__image {
  display: none;
}
@media (min-width: 754px) {
  .faq__block__image {
    position: absolute;
    width: 280px;
    margin-top: 190px;
    display: block;
  }
}
.faq__block__top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.faq__block__top p {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
@media (min-width: 754px) {
  .faq__block__top p {
    width: 50%;
    margin-top: 20px;
  }
}

.rental__fleet {
  margin-bottom: 130px;
}
.rental__fleet__chart__heading span {
  border-right: 2px solid #FF4D30 !important;
}
.rental__fleet__car {
  width: 100%;
}
@media (min-width: 754px) {
  .rental__fleet__car {
    width: 80%;
    margin-top: -50px;
  }
}
.rental__fleet__top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.rental__fleet__top p {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
@media (min-width: 754px) {
  .rental__fleet__top p {
    width: 40%;
    margin-top: 20px;
  }
}
.rental__fleet__block {
  margin-bottom: 8px;
}
.rental__fleet ul {
  list-style: none;
  padding: 0;
}
.rental__fleet ul li {
  background-color: #ededed;
  padding: 20px 0 20px 18px;
  font-weight: 700;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-size: 18px;
}
@media (min-width: 754px) {
  .rental__fleet ul li {
    width: 90%;
  }
}
.rental__fleet ul li:hover, .rental__fleet ul lifocus {
  background-color: #FF4D30;
  color: #fff;
}
.rental__fleet__chart {
  margin-top: -9px;
  border-bottom: 2px solid #706F7B;
  border-left: 2px solid #706F7B;
  border-right: 2px solid #706F7B;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 15px 12px;
  text-align: center;
}
.rental__fleet__chart span:first-child {
  border-right: 2px solid #706f7b;
}
.rental__fleet__chart__heading {
  background-color: #FF4D30;
  color: #fff;
  text-align: center;
  padding: 8px 5px;
}
.rental__fleet__chart__heading span {
  font-weight: 800;
  font-size: 30px;
}

.list__item__active {
  background-color: #FF4D30 !important;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
